.profile {
  background-color: #f6f3f3;
  display: flex;
  flex-direction: column;
  align-items: center; // Center align content horizontally
  padding: 2vh 2vw; // Use viewport units for responsive padding

  .images {
    display: flex;
    justify-content: center;
    align-items: center; // Center align content horizontally
    margin-bottom: 2vh; // Add margin between images and profile info
    width: 100%; // Ensure images occupy full width

    .cover {
      width: 100%;
      max-height: 200px; // Adjust the maximum height of the cover photo
      object-fit: cover; // Maintain aspect ratio and fill container
      border-radius: 20px;
    }

    .profilePicContainer {
      display: flex;
      align-items: center; // Center align content horizontally
    }

    .profilePic {
      width: 150px; // Adjust the width of the profile photo
      height: 150px; // Adjust the height of the profile photo
      border-radius: 50%;
      margin-right: 20px;
      position: relative;
      right: 250px;
      top: 100px;
    
    }

    .username {
      font-size: 1.5rem; // Adjust font size as needed
    }
  }

  .profileContainer {
    width: 100%; // Ensure profile container occupies full width
    max-width: 600px; // Limit maximum width for better readability on larger screens
    display: flex;
    flex-direction: column;
    align-items: center; // Center align content horizontally
    gap: 2vh; // Add gap between profile info and posts

    .uInfo {
      background-color: #959090;
      border-radius: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      width: 100%; // Ensure user info container occupies full width
      padding: 2vh; // Use viewport units for responsive padding

      .center {
        display: flex;
        flex-direction: column;
        align-items: center; // Center align content horizontally
        gap: 1vh; // Add gap between profile info items
      }

      .bio {
        display: flex;
        flex-direction: column;
        align-items: center; // Center align content horizontally
        gap: 1vh; // Add gap between bio items

        textarea {
          width: 100%;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid #ccc;
          outline: none;
          margin-bottom: 10px;
        }

        button {
          border: none;
          background-color: #5271ff;
          color: #fff;
          padding: 5px 10px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }

    // Adjustments for Posts component (if needed)
    .posts {
      width: 100%; // Ensure posts container occupies full width
    }
  }
}
